<% @page_heading = _('New article') %>


<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if @status=="edit" and @is_admin %> 

  <%= form_tag(:action => 'merge', :controller => 'content') do %> 
    <h2> Merge Articles</h2>
    Article ID: <%= text_field_tag 'id_to_merge' %> 
    <%= hidden_field_tag :article_id, @article.id%>
    <%= submit_tag "Merge" , :type => 'submit' %> 

  <% end %>

<% end %> 
